body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.color1 {color: #14210f;}
.color2 {color: #0d5278;}
.color3 {color: #04f795;}
.color4 {color: #91ff96;}
.color5 {color: #ebffa6;}

/*! HEADER  */

.header-container {
   display: flex;
   align-items: center;
   background-image: radial-gradient(circle at 15.59% 59.22%,  #00001e 0%, #1444a7 33%, #001a5b 66%, #00001e 100%);
   background-color: #001a5b;
}

.logo-header {
   width: 10%;
   padding: 1.2rem;
}

.title-header {
   font-family: 'Rajdhani', sans-serif;
   font-weight: 600;
   font-size: 2rem;
   font-style: bold;
   color:  #91ff96;
}

/* !INFORMACION PRINCIPAL */

.informacion-container {
   display: block;
   padding: 1rem;
   margin-top: 10px;
   width: 80%;
   border: 1px solid #0d5278;
   background-color: #ebffa6;
}

/* !CUERPO DATOS */

.main-container {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   font-family: 'Rajdhani', sans-serif;
   font-weight: 300;
}

.datos-container {
   display: flex;
   justify-items: center;
   flex-direction:column;
   width: 60%;
   padding: 10px;
   margin: 3rem;

   font-size: 1.3rem;
   background-color: white;
   border-radius: 10px;
   box-shadow: 5px 10px 25px 5px gray;
}

.unidades-container {
   display: flex;
   justify-content: center;
   flex-direction: row;
   margin: 15px 0px;
}
.titulo-legend {
   display: block;
   width: 95%;
   padding: 5px;
   font-weight: bold;
   border-bottom: 0.5px solid #001a5b;
}

.unidades-container label {
   width: 90%;
}

.unidades-container input {
   width: 90%;
}



.datos-container input {
   padding: 5px;
   margin: 5px;
   border: none;
   border-radius: 5px;
   background-color:rgba(194, 193, 193, 0.335);
   /* width: 95%; */
   height: 30px;
}

.datos-container label {
   color: #0d5278;
   padding: 3px;
   font-size: 1rem;
   
}

.opciones-informacion {
   padding: 5px;
   margin: 5px;
   border: none;
   border-radius: 5px;
   background-color:rgba(194, 193, 193, 0.335);
   width: 95%;
   height: 30px;
}

.encabezado-datos {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 15px;
}

.title-datos {
   font-size: 2.3rem;
   font-weight: 600;
   padding: 3px;
   margin: 5px;
}

.img-datos {
   width: 5%;
   margin: 3px;
}

.button {
   width: 25%;
   padding: 10px 10px;
   margin: 10px;
   align-self: center;
   border: none;
   border-radius: 5px;
   background-color: #0d5278;
   color: #04f795;
   font-size: 1.1rem;
   font-style: bold;
}

.button:hover {
   scale: 1.1;
   cursor: pointer;
   color: white;
}

.resultado {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.resultado h1 {
   text-align: center;
   color: #14210f;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;

   font-size: 2.3rem;

}

.resultado p {
   text-align: center;
   padding: 10px;
   margin-bottom: 100px;
   font-size: 1.5rem;
   color: #0d5278;

   border: 1px solid #14210f;
   border-radius: 10px;
   box-shadow: 5px 5px 10px 5px #04f7967c;
}

.img-cotizacion {
   width: 8%;
   margin: 5px;
}

strong {
  color: #14210f;
  font-weight: 600;
}